<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <style>
        img{
            height: 40rem;
            width: 100%;
            object-fit: cover;
        }
    a{
        text-decoration: none;
        border: 2px solid blue;
        background-color: blue;
        color: aliceblue;
        border-radius:20px ;
        padding: 10px;
    }
    </style>
</head>
<body>
    <h><img src="https://indexsy.com/wp-content/uploads/2023/05/What-is-404-error.jpg" alt="404"></h>
    <a href="/login">Login here</a>
</body>
</html>