<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet"  href="./public/css/login.css" >
</head>
<body>
    <div id="main">
        <h style="margin-bottom: 50px;">Login</h>
        <div id="container">
            <form action="/signup" method="post" id="form" >

            <label>Username:</label>
            <input type="text" id="username" name="username" class="attribute" autocomplete="off">
            <label>Phone number:</label>
            <input type="number" id="phone" name="phone" class="attribute" autocomplete="off">
            <label>Email:</label>
            <input type="email" id="email" name="email" class="attribute" autocomplete="off">
            <label>Password:</label>
            <input type="password" id="password" name="password" class="attribute" autocomplete="off">
            <input type="submit" id="submit" value="Register">
            </form>
        </div>
    </div>
    <script src="./public/js/login.js"
</body>
</html>