<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="./public/css/logout.css">
</head>
<body>
    <div id="container">
     <div id="main">
        <img src="https://static.vecteezy.com/system/resources/previews/006/606/705/non_2x/sign-out-logout-icon-in-circle-line-vector.jpg" alt="logout image">
        <h>Do you really want to logout ?</h>
        <a href="/login" id="red">Yes i want to logout!!</a>
        <a href="/home" id="green">Naah,just kidding bro!!</a>
     </div>
    </div>
</body>
</html>