<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
     <!-- our project just needs Font Awesome Solid + Brands -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./public/css/profile.css" >
</head>
<body>
    {{>navbar}}
    <div id="area">
    <div id="containers">
            <div class="title">
             <h style="padding-left:50px;padding-top:25px">Porfolio</h>
            </div>
        <div class="title2">
            <h>Hello, It's Me</h>
            <h style="font-size: 30px;">Azimuddeen Khan Mojebur Rahman</h>
            <h>And i'm a <span style="color:cyan">Mern Stack Developer</span></h> 
            <p style="font-size: 12px;font-weight:100;padding-top:50px;width:500px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus voluptatem enim deserunt a? Quia facere magnam perferendis natus debitis in excepturi, minima saepe eos optio velit consectetur nihil dicta molestias!</p>
        </div>
        
        <div class="logo">
            <div class="logos">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="logos">
             <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="logos">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="logos">
              <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="button"><a href="https://i.ytimg.com/vi/S9NOXjdipl4/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB5kbDLrc6hzcf_27aVON0CBkEdRg" target="_blank">Download Cv</a></div>
        <div class="img">
            <span style="padding-top:10rem"><img src="./images/photo.jpg" alt="azim photo"> </span>
        </div>
    </div>
</div>
    
    <script src="public/js/profile.js" ></script>
</body>
</html>