<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/signup.css">                                                                       
    <title>Signup</title>
</head>
<body>
    <div class="container">
    <form action="/home" method="post">
       
          <label class="names">Phone:</label>
          <input type="number" name="phone" placeholder="Enter your phone number" autocomplete="on" id="phone">
           <label class="names">Password:</label>
          <input type="password" name="password" placeholder="Enter your password" autocomplete="off" id="password">
          <input type ="submit" id="submit" value="Signup">
    </form>
    </div>
</body>
</html>