<div id="main">
<div id="containerleft">
    <div id="insideleft">
    <div id="content">
    <h> The </h><br>
    <h> Cyber </h><br>
    <h> Dictionary</h><br>
    </div>
    <div id="image">
      <img src="https://thumbs.dreamstime.com/b/colorful-acrylic-ink-water-isolated-white-abstract-background-color-explosion-liquid-cloud-motion-91873826.jpg" alt="microchip">
    </div>
    </div>
</div>
<div id="containerright">
    <div id="insideright">
    <h>Home Page</h>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,<br>voluptatibus voluptate at possimus doloremque inventore error,<br> autem repellendus illum quaerat nesciunt,<br> tenetur a blanditiis! Enim esse nihil nisi debitis porro?</p>
</div>
</div>
<h style="justify-content: center;margin-top:20rem;width:18rem;color:white">Hello Everyone!!!</h>
</div>